* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: #D3D3D3;
}

header {
    background-color: #D3D3D3;
    padding: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}

.logo img {
    height: 80px; 
    width: auto;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.menu a, .footer-buttons a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.menu a:hover, .footer-buttons a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden; 
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


footer {
    background-color: D3D3D3;
    color: black;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-logo img {
    height: 80px; 
    width: auto;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .user-profile {
        margin: auto;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .footer-logo {
        align-items: center;
        margin-top: 10px;
    }
}








